<div class="container-fluid">
  <div class="card mb-2">
    <div class="card-header">
      <img
        src="{{ blog.image }}"
        class="card-img-top img-fluid"
        alt="Food Blog Image"
      />
    </div>

    <div class="card-body">
      <h2 class="card-title">{{ blog.title }}</h2>
      <p class="card-text">
        <b>By: {{ blog.author }}</b>
        <br />
        <small class="text-muted"
          ><b>Last updated {{ blog.date | date }}</b>
        </small>
      </p>
      <p class="card-text">
        {{ blog.content }}
      </p>
    </div>
    <div class="card-footer text-center">
      <button class="btn btn-info" routerLink="/updateBlog/{{ blog.id }}">
        Update
      </button>
      <button class="btn btn-danger mx-3" (click)="deleteBlog()">Delete</button>
    </div>
  </div>
</div>
